.SkybrudPropertyEditors ::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}
.SkybrudPropertyEditors :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}
.SkybrudPropertyEditors ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}
.SkybrudPropertyEditors :-ms-input-placeholder {
  color: #cccccc;
}
.SkybrudPropertyEditors.ImagePicker {
  /*@import "Table";*/
}
.SkybrudPropertyEditors.ImagePicker label {
  display: block;
  margin-bottom: 15px;
}
.SkybrudPropertyEditors.ImagePicker ul {
  margin: 0;
  list-style-type: none;
}
.SkybrudPropertyEditors.ImagePickerOptions .option {
  display: flex;
}
.SkybrudPropertyEditors.ImagePickerOptions .option.limit input {
  width: 50px;
}
.SkybrudPropertyEditors.ImagePickerOptions .option.types label,
.SkybrudPropertyEditors.ImagePickerOptions .option.columns label {
  display: block;
  margin-left: 0;
}
.SkybrudPropertyEditors.ImagePickerOptions .option + .option {
  margin-top: 20px;
}
.SkybrudPropertyEditors.ImagePickerOptions label {
  width: 400px;
  padding-left: 0;
}
.SkybrudPropertyEditors.ImagePickerOptions .value {
  display: inline-block;
}
.SkybrudPropertyEditors.ImagePickerOptions .value label {
  width: auto;
  padding-left: 0;
}
.SkybrudPropertyEditors.ImagePickerOptions .value label + label {
  margin-left: 10px;
}
