<div>
    <div class="tile tile-item" ng-repeat="item in value.items" ng-style="itemStyles">
        <div>
            <a href="#" ng-click="removeItem($index);" prevent-default="" style="float: right;" localize="title" title="@imagepicker_optionRemoveItem">
                <i class="icon icon-delete"></i>
            </a>
            <a href="#" ng-show="$index < value.items.length - 1" ng-click="moveItemRight($index);" prevent-default="" style="float: right;" localize="title" title="@imagepicker_optionMoveRight">
                <i class="icon icon-next"></i>
            </a>
            <a href="#" ng-show="$index > 0" ng-click="moveItemLeft($index);" prevent-default="" style="float: right;" localize="title" title="@imagepicker_optionMoveLeft">
                <i class="icon icon-previous"></i>
            </a>
        </div>
        <div class="subpart">
            <div class="title">
                <localize key="imagepicker_labelImage">Image</localize>
            </div>
            <div class="image" ng-if="item.$image">
                <img ng-src="{{item.$imageUrl}}" alt="" /><br />
                <a href="#" class="remove" ng-click="removeImage(item)" prevent-default><i class="icon icon-delete"></i></a>
            </div>
            <div ng-if="!item.$image" style="border: none">
                <a href="#" class="usky-editor-placeholder" ng-click="addImage(item)" prevent-default style="display: block; background: white;" ng-style="{width: config.image.width + 'px', height: config.image.height + 'px'}" ng-class="{error: isRequiredAndMissing('imagePickerRowImage' + item.$uniqueId)}">
                    <div style="padding-top: 40px; text-align: center;">
                        <i class="icon icon-picture" style="font-size: 22px;"></i><br />
                        <localize key="imagepicker_optionAddImage">Add an image</localize>
                    </div>
                </a>
            </div>
        </div>
        <div class="subpart" ng-hide="config.items.title.hidden">
            <div class="title">
                <localize key="imagepicker_labelTitle">Title</localize>
            </div>
            <input type="text" ng-model="item.title" style="font-weight: bold;" localize="placeholder" placeholder="@imagepicker_labelTitlePlaceholder" ng-required="cfg.items.title.required" />
        </div>
        <div class="subpart" ng-hide="config.items.description.hidden">
            <div class="title">
                <localize key="imagepicker_labelDescription">Description</localize>
            </div>
            <textarea ng-model="item.description" localize="placeholder" placeholder="@imagepicker_labelDescriptionPlaceholder" ng-required="cfg.items.description.required"></textarea>
        </div>
        <div class="subpart link" ng-hide="config.items.link.hidden">
            <div class="title"><localize key="imagepicker_labelLink">Link</localize></div>
            <div ng-show="item.link">
                <div>
                    <strong><localize key="imagepicker_labelLinkType">Type</localize>:</strong>
                    {{item.link.mode}}
                </div>
                <div>
                    <strong><localize key="imagepicker_labelLinkUrl">URL</localize>:</strong>
                    {{item.link.url}}
                </div>
                <div>
                    <strong><localize key="imagepicker_labelLinkId">ID</localize>:</strong>
                    {{item.link.id}}
                </div>
                <div>
                    <strong><localize key="imagepicker_labelLinkText">Text</localize>:</strong>
                    {{item.link.name}}
                </div>
                <div>
                    <strong><localize key="imagepicker_labelLinkTarget">Target</localize>:</strong>
                    {{item.link.target}}
                </div>
                <a href="#" ng-click="editLink(item)" prevent-default>
                    <localize key="imagepicker_optionEditLink">Edit link</localize>
                </a>
                <a href="#" ng-click="removeLink(item)" prevent-default>
                    <localize key="imagepicker_optionRemoveLink">Remove link</localize>
                </a>
            </div>
            <div ng-show="!item.link" ng-class="{error: isRequiredAndMissing('imagePickerRowLink' + item.$uniqueId)}">
                <a class="empty" href="#" prevent-default ng-click="addLink(item)">
                    <localize key="imagepicker_optionAddLink">Add link</localize>
                </a>
            </div>
        </div>
        <input type="hidden" ng-model="item.imageUrl" required id="imagePickerRowImage{{item.$uniqueId}}" />
        <input type="hidden" ng-model="item.$link" ng-required="cfg.items.link.required" id="imagePickerRowLink{{item.$uniqueId}}" />
    </div>
    <a href="#" class="tile tile-add" ng-click="addItem()" prevent-default ng-style="itemStyles" ng-show="config.limit == 0 || value.items.length < config.limit">
        <i class="icon icon-add"></i>
    </a>
</div>