<div class="skybrud-image-picker" ng-controller="Skybrud.ImagePicker.Elements.ImageList.Controller" ng-class="{'--empty': value.length == 0}">
    <div class="items">
        <div class="element" ng-repeat="item in items">
            <div class="image">
                <div ng-if="item.image">
                    <img ng-src="{{item.image.cropUrl}}" alt="" /><br />
                </div>
                <div ng-if="item.image.trashed" class="--label">
                    <p class="label label__trashed">
                        <localize key="mediaPicker_trashed"></localize>
                        <i class="icon-trash" aria-hidden="true"></i>
                    </p>
                </div>
                <div ng-if="item.image.deleted" class="--label">
                    <p class="label label__trashed">
                        <localize key="deleted"></localize>
                        <i class="icon-trash" aria-hidden="true"></i>
                    </p>
                </div>
                <div ng-if="!item.image" style="background: #efefef; height: 175px; width: 250px;"></div>
                <div class="element-name">
                    {{item.value.properties.title || item.value.properties.name}}
                    <span ng-show="!item.value.properties.title && !item.value.properties.name">&nbsp;</span>
                </div>
                <div class="actions">
                    <a href="#" class="action" ng-click="swap($index, $index - 1)" prevent-default ng-show="$index > 0">
                        <i class="icon icon-arrow-left"></i>
                    </a>
                    <a href="#" class="action" ng-click="swap($index, $index + 1)" prevent-default ng-show="$index < value.length - 1">
                        <i class="icon icon-arrow-right"></i>
                    </a>
                    <a class="action" data-element="action-edit" href="/umbraco/#/media/media/edit/{{item.image.id}}" prevent-default ng-click="editItem(item)">
                        <i class="icon icon-edit"></i>
                    </a>
                    <a href="#" class="action -red" ng-click="requestDeleteItem($index)" prevent-default>
                        <i class="icon icon-delete"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="umb-child-selector__child -placeholder" ng-click="addImage()">
        <div class="umb-child-selector__child-name -blue"><strong>Tilføj billede</strong></div>
    </a>
    <!--<div>
        <div ng-repeat="item in items">
            <details>
                <summary>Item {{$index + 1}}</summary>
                <div>
                    <pre style="font-size: 9px; line-height: 11px;">{{item | json}}</pre>
                </div>
            </details>
        </div>
    </div>-->
</div>