<div class="skybrud-image-picker skybrud-image-list" ng-controller="Skybrud.ImagePicker.ListPreview.Controller" ng-click="editItem(item, update)">
    <div class="skybrud-image-list-title">{{item.value.properties.title}}</div>
    <div class="sky-image-list">
        <div class="sky-image-list-item" ng-repeat="element in item.value.properties.elements">
            <div style="position: relative;">
                <img ng-if="images[element.key].cropUrl" ng-src="{{images[element.key].cropUrl}}"/>
                <div style="width: 250px; height: 175px; background: #efefef; text-align: center; justify-content: center;" ng-if="!images[element.key].cropUrl"></div>
                <div class="--label" ng-if="images[element.key].trashed">
                    <p class="label label__trashed">
                        <localize key="mediaPicker_trashed"></localize>
                        <i class="icon-trash" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="--label" ng-if="images[element.key].deleted">
                    <p class="label label__trashed">
                        <localize key="deleted"></localize>
                        <i class="icon-trash" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="element-name" style="position: absolute; left: 0; bottom: 0; right: 0;">{{element.properties.title}}</div>
            </div>
        </div>
    </div>
</div>