<div class="SkybrudPropertyEditors LinkPickerOptions" ng-class="{'umbraco-gte76': umbVersion >= 7.6}" ng-controller="Skybrud.LinkPickerPreValues.Controller">

    <div class="optionGroup">
        <div class="optionGroupTitle">General</div>
        <div class="option limit">
            <label>
                Limit
                <small>Enter the maximum number of links allowed. If set to 0, no limit will be enforced.</small>
            </label>
            <input type="number" ng-model="model.value.limit" />
        </div>
        <!--<div class="option types">
            <label>
                Link types
                <small>Specify which types of links can be inserted. <em>Coming soon ;)</em></small>
            </label>
            <div class="value">
                <label>
                    <input type="checkbox" ng-model="model.value.types.url" ng-value="true" disabled="disabled" />
                    URL
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.types.content" ng-value="true" disabled="disabled" />
                    Content
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.types.media" ng-value="true" disabled="disabled" />
                    Media
                </label>
            </div>
        </div>-->
    </div>

    <div class="optionGroup">
        <div class="optionGroupTitle">Title</div>
        <div class="option titleShow">
            <label>
                Show title field
                <small>Allows editors to specify a title for the link picker.</small>
            </label>
            <input type="checkbox" ng-model="model.value.title.show" />
        </div>
        <div class="option titlePlaceholder">
            <label>
                Title placeholder
                <small>Specify a custom placeholder for the title.</small>
            </label>
            <input type="text" ng-model="model.value.title.placeholder" />
        </div>
    </div>

    <div class="optionGroup">
        <div class="optionGroupTitle">View</div>
        <div class="option showTable">
            <label>
                View
                <small>Select the view that should be used in the property editor.</small>
            </label>
            <div class="value">
                <select ng-options="item as item.name for item in views track by item.alias" ng-model="view" ng-change="update()"></select>
            </div>
        </div>
    </div>

    <div class="optionGroup" ng-show="model.value.view == 'table'">
        <div class="optionGroupTitle">Table</div>
        <div class="option columns">
            <label>
                Table columns
                <small>Specify which columns should be shown in the table.</small>
            </label>
            <div class="value">
                <label>
                    <input type="checkbox" ng-model="model.value.columns.type" ng-value="true" />
                    Type
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.columns.id" ng-value="true" />
                    ID
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.columns.name" ng-value="true" />
                    Name
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.columns.url" ng-value="true" />
                    URL
                </label>
                <label>
                    <input type="checkbox" ng-model="model.value.columns.target" ng-value="true" />
                    Target
                </label>
            </div>
        </div>
    </div>

</div>