<div ng-class="{'umbraco-gte76': umbVersion >= 7.6}">
    <label class="title" ng-if="config.title.show">
        <input type="text" ng-model="value.title" placeholder="{{cfg.title.placeholder || 'Title'}}" class="title" />
    </label>
    <div class="linkpicker-list" ng-show="config.view == 'list'">
        <ul ui-sortable="sortableOptionsList" ng-model="value.items">
            <li ng-repeat="link in value.items">
                <a href="{{link.url}}" target="_blank" rel="noopener">{{link.name || link.url}}</a>
                <a class="edit" href="#" prevent-default="" ng-click="editLink(link, $index)"><i class="icon icon-edit"></i></a>
                <a class="remove" href="#" prevent-default="" ng-click="removeLink($index)"><i class="icon icon-delete"></i></a>
                <i class="icon icon-navigation handle" ng-show="value.items.length > 1"></i>
            </li>
        </ul>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addLink()" ng-show="!config.limit || value.items.length < config.limit">
                <localize key="linkpicker_addLink">Add link</localize>
                <i class="icon icon-add"></i>
            </a>
        </div>
    </div>
    <div class="table" ng-show="config.view == 'table'">
        <table ng-show="value.items.length">
            <thead>
                <tr>
                    <th ng-show="config.columns.type">
                        <localize key="linkpicker_type">Type</localize>
                    </th>
                    <th ng-show="config.columns.id">
                        <localize key="linkpicker_id">ID</localize>
                    </th>
                    <th ng-show="config.columns.name">
                        <localize key="linkpicker_name">Name</localize>
                    </th>
                    <th ng-show="config.columns.url">
                        <localize key="linkpicker_url">Url</localize>
                    </th>
                    <th ng-show="config.columns.target">
                        <localize key="linkpicker_target">Target</localize>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="value.items">
                <tr ng-repeat="link in value.items">
                    <td ng-show="config.columns.type" style="text-transform: capitalize;">{{link.mode}}</td>
                    <td ng-show="config.columns.id">{{link.id}}</td>
                    <td ng-show="config.columns.name">{{link.name}}</td>
                    <td ng-show="config.columns.url"><a href="{{link.url}}" target="_blank">{{link.url}}</a></td>
                    <td ng-show="config.columns.target">{{link.target}}</td>
                    <td style="text-align: right;">
                        <a class="edit" href="#" prevent-default="" ng-click="editLink(link, $index)"><i class="icon icon-edit"></i></a>
                        <a class="remove" href="#" prevent-default="" ng-click="removeLink($index)"><i class="icon icon-delete"></i></a>
                        <i class="icon icon-navigation handle" ng-show="value.items.length > 1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addLink()" ng-show="!config.limit || value.items.length < config.limit">
                <localize key="linkpicker_addLink">Add link</localize>
                <i class="icon icon-add"></i>
            </a>
        </div>
    </div>
    <div ng-show="config.view == 'preview'">
        <div ui-sortable="sortableOptionsPreview" ng-model="value.items">
            <div class="linkpicker-preview linkpicker-preview--sortable" ng-clggass="{'linkpicker-preview--sortable': sortable, 'linkpicker-preview--unpublished': published === false }" ng-repeat="link in value.items">
                <i class="linkpicker-preview__icon icon-document" ng-if="link.mode == 'content'"></i>
                <i class="linkpicker-preview__icon icon-umb-media" ng-if="link.mode == 'media'"></i>
                <i class="linkpicker-preview__icon icon-link" ng-if="link.mode == 'url'"></i>
                <div class="linkpicker-preview__content">
                    <div class="linkpicker-preview__name">
                        <a href="{{link.url}}" target="_blank" rel="noopener">{{link.name || link.url}}</a>
                        <small ng-if="link.target == '_blank'">(<localize key="linkpicker_targetBlank">new tab/window</localize>)</small>
                    </div>
                    <div class="linkpicker-preview__description">
                        <localize key="linkpicker_{{link.mode}}">{{link.mode}}</localize>
                        <span ng-if="link.name">&bull; {{link.url}}</span>
                    </div>
                </div>
                <div class="linkpicker-preview__actions">
                    <a class="linkpicker-preview__action" href="#" prevent-default="" ng-click="editLink(link, $index)">
                        <localize key="linkpicker_editLink">Edit</localize>
                    </a>
                    <a class="linkpicker-preview__action linkpicker-preview__action--red" href="#" prevent-default="" ng-click="removeLink($index)">
                        <localize key="linkpicker_removeLink">Remove</localize>
                    </a>
                </div>
            </div>
        </div>
        <a ng-show="!config.limit || value.items.length < config.limit" class="linkpicker-preview-add" href="#" ng-click="addLink()" prevent-default="">
            <localize key="linkpicker_addLink">Add link</localize>
        </a>
    </div>
</div>