<div class="SkybrudImagePicker">

    <div ng-if="config.showDebugger" ng-include="'/App_Plugins/Skybrud.ImagePicker/Views/Partials/ImagePickerDebugger.html'"></div>

    <div class="header" ng-show="config.title.show || !config.layout.hideSelector">
        <div class="title">
            <input type="text" ng-model="value.title" ng-if="config.title.show" placeholder="{{config.title.placeholder}}" />
        </div>
        <div class="layout-selector" ng-hide="config.layout.hideSelector">
            <div ng-click="layout = 'list';" ng-class="{active: layout == 'list'}">
                <i class="icon-list"></i>
            </div>
            <div ng-click="layout = 'tiles';" ng-class="{active: layout == 'tiles'}">
                <i class="icon-thumbnails-small"></i>
            </div>
        </div>
    </div>

    <div class="SkybrudImagePickerTiles" ng-if="layout == 'tiles'" ng-include="'/App_Plugins/Skybrud.ImagePicker/Views/Partials/ImagePickerTiles.html'"></div>

    <div class="SkybrudImagePickerList" ng-if="layout == 'list'" ng-include="'/App_Plugins/Skybrud.ImagePicker/Views/Partials/ImagePickerList.html'"></div>

    <umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view"></umb-overlay>

    <!--<br /><br /><br />

        <pre>{{value | json}}</pre>
        <pre>{{config | json}}</pre>-->

</div>