<div class="SkybrudImagePicker">

    <div class="layout-selector" ng-hide="config.layout.hideSelector">
        <div ng-click="layout = 'list';" ng-class="{active: layout == 'list'}">
            <i class="icon-list"></i>
        </div>
        <div ng-click="layout = 'tiles';" ng-class="{active: layout == 'tiles'}">
            <i class="icon-thumbnails-small"></i>
        </div>
    </div>

    <div class="SkybrudImagePickerTiles" ng-show="layout == 'tiles'">
        <div>
            <div class="tile tile-item" ng-repeat="item in value.items" ng-style="itemStyles">
                <div>
                    <a href="#" ng-click="removeItem($index);" prevent-default="" style="float: right;" title="Slet billedet fra galleriet">
                        <i class="icon icon-delete"></i>
                    </a>
                    <a href="#" ng-show="$index < value.items.length - 1" ng-click="moveItemRight($index);" prevent-default="" style="float: right;" title="Flyt billedet til højre">
                        <i class="icon icon-next"></i>
                    </a>
                    <a href="#" ng-show="$index > 0" ng-click="moveItemLeft($index);" prevent-default="" style="float: right;" title="Flyt billedet til venstre">
                        <i class="icon icon-previous"></i>
                    </a>
                </div>
                <div class="subpart">
                    <div class="title">Billede</div>
                    <div class="image" ng-if="item.$image">
                        <img ng-src="{{item.$imageUrl}}" alt="{{control.value.properties[5].value}}" /><br />
                        <a href="#" class="remove" ng-click="removeImage(item)" prevent-default><i class="icon icon-delete"></i></a>
                    </div>
                    <div ng-if="!item.$image" style="border: none">
                        <a href="#" class="usky-editor-placeholder" ng-click="addImage(item)" prevent-default style="display: block; background: white;" ng-style="{width: config.image.width + 'px', height: config.image.height + 'px'}">
                            <div style="padding-top: 40px; text-align: center;">
                                <i class="icon icon-picture" style="font-size: 22px;"></i><br />
                                Indsæt et billede
                            </div>
                        </a>
                    </div>
                </div>
                <div class="subpart">
                    <div class="title">Titel</div>
                    <input type="text" ng-model="item.title" placeholder="Angiv titel her" style="font-weight: bold;" />
                </div>
                <div class="subpart">
                    <div class="title">Beskrivelse</div>
                    <textarea ng-model="item.description" placeholder="Angiv beskrivelse her"></textarea>
                </div>
                <div class="subpart">
                    <div class="title">Link</div>
                    <div ng-show="item.link">
                        <div><strong>Type:</strong> {{item.link.mode}}</div>
                        <div><strong>URL:</strong> {{item.link.url}}</div>
                        <div><strong>ID:</strong> {{item.link.id}}</div>
                        <div><strong>Tekst:</strong> {{item.link.name}}</div>
                        <div><strong>Target:</strong> {{item.link.target}}</div>
                        <a href="#" ng-click="editLink(item)" prevent-default>Rediger link</a>
                        <a href="#" ng-click="removeLink(item)" prevent-default>Slet link</a>
                    </div>
                    <a ng-show="!item.link" class="empty" href="#" prevent-default ng-click="addLink(item)">Tilføj link</a>
                </div>
            </div>
            <a href="#" class="tile tile-add" ng-click="addItem()" prevent-default ng-style="itemStyles">
                <i class="icon icon-add"></i>
            </a>
        </div>
    </div>

    <div class="SkybrudImagePickerList table" ng-show="layout == 'list'">
        
        <style>
            .SkybrudImagePicker .umb-table-cell.col-thumbnail { width: 60px; flex: initial; }
            .SkybrudImagePicker .umb-table-cell.col-actions { width: 50px; flex: initial; }
        </style>
        
        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell col-thumbnail"></div>
                    <div class="umb-table-cell col-name">Billede</div>
                    <div class="umb-table-cell col-description">Titel</div>
                    <div class="umb-table-cell">Beskrivelse</div>
                    <div class="umb-table-cell">Link</div>
                    <div class="umb-table-cell col-actions">&nbsp;</div>
                </div>
            </div>
            <div class="umb-table-body" ng-show="value.items.length == 0">
                <div class="umb-table-row">
                    <div class="umb-table-cell" style="flex: 1 1 100%">
                        Der er endnu ikke tilføjet nogle billeder.
                    </div>
                </div>
            </div>
            <div ng-show="value.items.length > 0">
                <div class="umb-table-body" ui-sortable="sortableOptions" ng-model="value.items">
                    <div class="item" ng-repeat="item in value.items">
                        <div class="umb-table-row">
                            <div class="umb-table-cell col-thumbnail">
                                <img ng-show="item.$image" ng-src="{{item.$image.image}}?width=55&amp;height=35&amp;mode=crop" alt="" style="width: 55px; height: 35px; max-width: initial;" />
                                <div ng-show="!item.$image" style="width: 55px; height: 30px; padding-top: 5px; text-align: center; max-width: initial; background: #f8f8f8;">
                                    <i class="icon icon-picture"></i>
                                </div>
                            </div>
                            <div class="umb-table-cell col-name">
                                <span ng-show="item.$image">{{item.$image.name}}</span>
                                <em ng-show="!item.$image">Ikke angivet</em>
                            </div>
                            <div class="umb-table-cell col-title">
                                <em ng-show="!item.title">Ikke angivet</em>
                                <span ng-show="item.title">{{item.title}}</span>
                            </div>
                            <div class="umb-table-cell col-description">
                                <em ng-show="!item.description">Ikke angivet</em>
                                <div ng-show="item.description">{{item.description}}</div>
                            </div>
                            <div class="umb-table-cell col-link">
                                <em ng-show="!item.link">Ikke angivet</em>
                                <div ng-show="item.link">
                                    {{item.link.name}}
                                    <div class="linkUrl">
                                        <small>{{item.link.url}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-table-cell col-actions">
                                <div>
                                    <a href="#" ng-click="toggleOpen(item)" prevent-default="" title="Rediger rækken"><i class="icon icon-edit"></i></a>
                                    <a href="#" ng-click="removeItem($index);" prevent-default="" title="Slet rækken"><i class="icon icon-delete red"></i></a>
                                    <span prevent-default="" title="Flyt rækken"><i class="icon icon-navigation handle"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="umb-table-row" ng-show="item.$showInfo">
                            <div style="width: 100%">
                                <div class="spacer"></div>
                                <div style="display: flex; flex-wrap: wrap;">
                                    <div class="subpart">
                                        <div class="title">Billede</div>
                                        <div class="image" ng-if="item.$image">
                                            <img ng-src="{{item.$imageUrl}}" alt="{{control.value.properties[5].value}}" /><br />
                                            <a href="#" class="remove" ng-click="removeImage(item)" prevent-default><i class="icon icon-delete"></i></a>
                                        </div>
                                        <div ng-if="!item.$image" style="border: none">
                                            <a href="#" class="usky-editor-placeholder" ng-click="addImage(item)" prevent-default style="display: block; background: #f8f8f8;" ng-style="{width: config.image.width + 'px', height: config.image.height + 'px'}">
                                                <div style="padding-top: 40px; text-align: center;">
                                                    <i class="icon icon-picture" style="font-size: 22px;"></i><br />
                                                    Indsæt et billede
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="subpart" style="min-width: 300px;">
                                        <div class="subpart">
                                            <div class="title">Titel</div>
                                            <input type="text" ng-model="item.title" placeholder="Angiv titel her" style="font-weight: bold;" />
                                        </div>
                                        <div class="subpart">
                                            <div class="title">Beskrivelse</div>
                                            <textarea ng-model="item.description" placeholder="Angiv beskrivelse her"></textarea>
                                        </div>
                                    </div>
                                    <div class="subpart">
                                        <div class="title">Link</div>
                                        <div ng-show="item.link">
                                            <div><strong>Type:</strong> {{item.link.mode}}</div>
                                            <div><strong>URL:</strong> {{item.link.url}}</div>
                                            <div><strong>ID:</strong> {{item.link.id}}</div>
                                            <div><strong>Tekst:</strong> {{item.link.name}}</div>
                                            <div><strong>Target:</strong> {{item.link.target}}</div>
                                            <a href="#" ng-click="editLink(item)" prevent-default>Rediger link</a>
                                            <a href="#" ng-click="removeLink(item)" prevent-default>Slet link</a>
                                        </div>
                                        <a ng-show="!item.link" class="empty" href="#" prevent-default ng-click="addLink(item)">Tilføj link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px; font-size: 13px;">
            <a href="#" prevent-default ng-click="addItem()" ng-show="config.limit == 0 || value.items.length < config.limit">
                <i class="icon icon-add"></i>
                Tilføj ny række
            </a>
            <em ng-show="config.limit > 0 && value.items.length >= config.limit">
                Der kan ikke tilføjes flere end de {{config.limit}} tilladte rækker.
            </em>
        </div>
    </div>

    <umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view"></umb-overlay>

    <!--<br /><br /><br />

    <pre>{{value | json}}</pre>
    <pre>{{config | json}}</pre>-->

</div>