<div ng-controller="Skybrud.ImagePicker.ImageModelPicker.Controller as vm">
    <div ng-if="vm.notFound" class="alert alert-danger">
        The selected type <strong>{{model.value}}</strong> could not be found.
    </div>
    <umb-node-preview ng-if="vm.selected"
                      icon="vm.selected.icon"
                      name="vm.selected.name"
                      description="vm.selected.description"
                      allow-remove="true"
                      on-remove="vm.reset()">
    </umb-node-preview>
    <button ng-if="!vm.selected" type="button" class="umb-node-preview-add" ng-click="vm.add()" aria-hidden="false">
        <localize key="general_add">Add</localize>
    </button>
</div>